<ion-view>
  <ion-nav-title>{{classInformation.name}}</ion-nav-title>
  <ion-content>
    <div class="item browse-cover">
      <div class="row banner" ng-style="{'background-image': 'url(' + classInformation.picture_url + ')'}" ng-click="viewClass(class)">
        <div class="row bottom-overlay">
          {{ classInformation.teacher.first_name }} {{ classInformation.teacher.last_name }}
        </div>
      </div>
      <div class="row triangle rating">
        <div class="prof-circle" ng-style="showImage(class)" ng-click="viewTeacherProfile(class.teacher)"></div>
      </div>
    </div>
    <div class="col profile-container">
      <h4 class="profile-subtitle">DESCRIPTION</h4>
      <div class="profile-hr"></div>
      <div class="class-description">{{classInformation.description}}</div>
      <div class="spacer-bottom"></div>
      <h4 class="profile-subtitle">DETAILS</h4>
      <div class="profile-hr"></div>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-calendar-outline class-icons"></div>
            <div class="class-details">{{ classInformation.date | date:"MM-dd-yy"}}</div>
          </div>
        </div>  
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-time-outline class-icons"></div>
            <div class="class-details">{{ classInformation.start_time | date:"h:mma"}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-location-outline class-icons"></div>
            <div class="class-details">{{ classInformation.location}}</div>
          </div>
        </div>  
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-pricetag-outline class-icons"></div>
            <div class="class-details">${{ classInformation.rate }}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-action-button">
  <div ng-click="bookAndPay()" class="button-title">Book Class</div>
</div>

