<ion-view>
  <ion-nav-title>Checkout</ion-nav-title>
    <ion-content>    
      <div class="row banner" ng-style="{'background-image': 'url(' + classInformation.picture_url + ')'}"></div>
      <div class="row payment-details">
        <div class="col col-25">
          <div class="profile-image-sm" ng-style="showImage()"></div>
        </div>
        <div class="col col-50 payment-text text-center">
          <span>{{ classInformation.name }} </span>
        </div>
        <div class="col col-25 payment-text text-center">
            <span>${{ classInformation.rate }}</span>
        </div>
      </div>
      <div class="row responsive-md">
        <div class="col">
          <div class="list">
            <label class="item item-input">
              <i class="icon placeholder-icon ion-card dark"></i>
              <span class="input-label">Card Number</span>
              <input type="text" ng-model="transaction.card">
            </label>
            <label class="item item-input">
              <i class="icon placeholder-icon ion-ios-calendar dark"></i>
              <span class="input-label">Exp. Month</span>
              <input type="text" ng-model="transaction.month">
            </label>
            <label class="item item-input">
              <i class="icon placeholder-icon ion-ios-calendar dark"></i>
              <span class="input-label">Exp. Year</span>
              <input type="text" ng-model="transaction.year">
            </label>
            <label class="item item-input">
              <i class="icon placeholder-icon ion-locked dark"></i>
              <span class="input-label">CVC</span>
              <input type="text" ng-model="transaction.cvc">
            </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-action-button">
  <div ng-click="charge()" class="button-title">Pay ${{ classInformation.rate }}</div>
</div>


