.class-img-background {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  min-width: 100%;
  height: 250px;
  padding-top: 25px;
}

.rating-transparent {
  background-color: transparent;
  font-size: 45px;
  text-align: center;
  margin: 0 20%;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.1rem;
}

.class-icons {
  font-size: 2.0rem;
  padding-right: 5px;
}

.book-class {
  width: 94%;
}

.class-details {
  color: #777;
  font-size: 1.0rem;
  margin: 6px 0 0 15px;
}

.class-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

p.location {
  color: #aaa;
  font-size: 0.8em;
  margin-top: 5px;
}

.bottom-overlay {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 12px;
  background-color: $theme-blue;
  color: white;
  padding-left: 112px;
  padding-top: 6px;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
