// Manage Classes / Schedule
// ========================

.list-with-toggle .list {
  margin-top: 56px;
}

.list-with-footer .list:last-child {
  padding-bottom: 48px;
}

.item.class {
  padding: 5px;
}

.item-complex .item-content {
  padding: 5px;
}

.review {
  margin-top: 8px;
}