// Menu
// ===================

.menu.menu-left {
  background-color: $theme-blue;
}

.item-nav.item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: $theme-blue;
  border: none;
  color: #fff;
  margin-left: 15px;
  padding-left: 59px;
}

.menu-profile-image {
  margin-bottom: 25px;
}

p.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.1rem;
}
